// Font
$mainFont: "Play", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1;


$desktopWidth: 1170;
$smDesktopWidth: $desktopWidth + 12;
$tableWidth: 992.98;
$smTableWidth: 767.98;
$phoneWidth: 479.98;
$smPhoneWidth: 320px;
$fontFamily: "Roboto";
$fontSize: 14px;


:root {
  // margin: 0px 54 / $mwc * 100vh 0px 0px;
  --main-color: #14c0d4;
  --semi-color: #f68038;
  --x2: #999999;
  --x3: #ffffff;
  --x4: #333333;
  --x5: #dedede;
  --x6: #098494;
}
